{% extends '_base.html' %}

{% block title %}Change Password{% endblock title %}

{% block content %}
    <h3>Change Password</h3>
    <form method="post">{% csrf_token %}
        {% if form.form_errors %}
            <div class="alert alert-danger">
                {{ form.errors }}
            </div>
        {% endif %}
        <!-- Old Password Field -->
        <div class="input-group">
            <div class="input-group-prepend" id="inputPassword">
                <span class="input-group-text" id="basic-addon1"><samp>**</samp></span>
            </div>
            <input type="password" name="{{ form.oldpassword.name }}" class="form-control custom-input-class" id="{{ form.oldpassword.id_for_label }}" placeholder="Current Password" aria-label="Password" aria-describedby="basic-addon1" required>
            {% if form.password.errors %}
                <div class="text-danger">
                    {{ form.password.errors }}
                </div>
            {% endif %}
        </div>

        <!-- New Password Field -->
        <div class="input-group">
            <div class="input-group-prepend" id="inputPassword1">
                <span class="input-group-text" id="basic-addon1"><samp>**</samp></span>
            </div>
            <input type="password" name="{{ form.password1.name }}" class="form-control custom-input-class" id="{{ form.password1.id_for_label }}" placeholder="New Password" aria-label="Password" aria-describedby="basic-addon1" required>
            {% if form.password1.errors %}
                <div class="text-danger">
                    {{ form.password1.errors }}
                </div>
            {% endif %}
        </div>
        <div class="input-group">
            <div class="input-group-prepend" id="inputPassword2">
                <span class="input-group-text" id="basic-addon1"><samp>**</samp></span>
            </div>
            <input type="password" name="{{ form.password2.name }}" class="form-control custom-input-class" id="{{ form.password2.id_for_label }}" placeholder="New Password (again)" aria-label="Password" aria-describedby="basic-addon1" required>
            {% if form.password2.errors %}
                <div class="text-danger">
                    {{ form.password2.errors }}
                </div>
            {% endif %}
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock content %}