{% extends '_base.html' %}

{% block title %}Reset Password{% endblock title %}

{% block content %}
    <h3>Reset Password</h3>
    <form method="post">{% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.errors }}
            </div>
        {% endif %}
        <!-- Email Field -->
        <div class="input-group">
            <div class="input-group-prepend" id="inputEmail">
                <span class="input-group-text" id="basic-addon1"><samp>**</samp></span>
            </div>
            <input type="text" name="{{ form.email.name }}" class="form-control custom-input-class" id="{{ form.email.id_for_label }}" placeholder="Email Address" aria-label="Email" aria-describedby="basic-addon1" required>
            {% if form.email.errors %}
                <div class="text-danger">
                    {{ form.email.errors }}
                </div>
            {% endif %}
        </div>
        <button class="btn btn-primary" type="submit">Reset My Password</button>
    </form>
{% endblock content %}