{% extends '_base.html' %}

{% load tag_library %}

{% load humanize %}

{% block title %}Books{% endblock title %}

{% block content %}
    <h3>Books</h3>
    <div class="list-group">
        {% for book in books %}
            <a href="{{ book.get_absolute_url }}" class="list-group-item list-group-item-action list-group-item-info"><i>{{ book.title }}</i> by <b>{{ book.author }}</b> | <small class="list-text text-muted">{{ book.price|to_int|intcomma }} IRR</small></a>
        {% endfor %}
    </div>
{% endblock content %}
    