{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

         <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css">
        
        <!-- Bootstrap Icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        
        <title>{% block title %}Bookstore{% endblock title %}</title>

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        <div class="d-flex flex-column min-vh-100">
            <header class="align-baseline">
                <!-- Navbar -->
                <nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <a class="navbar-brand text-center" href="{% url 'home' %}"><b>Bookstore</b></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'books' %}">Books</a>
                                </li>
                                {% if user.is_authenticated %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{ user.username }}
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                                            <li><a class="dropdown-item" href="{% url 'orders' %}">Orders</a></li>
                                            <li><a class="dropdown-item" href="{% url 'cart' %}">Shopping Cart</a></li>
                                            <li><a class="dropdown-item" href="{% url 'account_change_password' %}">Change Password</a></li>
                                            <li><a class="dropdown-item" href="{% url 'account_reset_password' %}">Reset Password</a></li>
                                            <li><form action="{% url 'account_logout' %}" method="post">{% csrf_token %}
                                                <button class="dropdown-item" type="submit">Log Out</button>
                                            </form></li>
                                        </ul>
                                    </li>
                                {% else %}
                                    <li class="nav-item">
                                        <div class="btn-group">
                                            <a type="button" class="nav-link" href="{% url 'account_login' %}">Log In</a>
                                            <a type="button" class="nav-link dropdown-toggle dropdown-toggle-split" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="{% url 'account_signup' %}">Sign Up</a></li>
                                                <li><a class="dropdown-item" href="{% url 'account_reset_password' %}">Reset Password</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                {% endif %}
                            </ul>
                            <form class="d-flex" action="{% url 'search_results' %}" method="get">
                                <input name="q" class="form-control me-2" type="text" placeholder="Search" aria-label="Search">
                                <button class="btn btn-warning" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </nav>
            </header>
            <div class="container">
                <main class="flex-fill">
                    <div class="container">
                        {% block content %}
                        {% endblock content %}
                    </div>
                    
                    <!-- Optional JavaScript -->
                    {% block javascript %}
                        <script src="{% static 'js/base.js' %}"></script>
                    {% endblock javascript %}
                    
                    {% if messages %}
                        <div id="messages" class="mx-auto" style="text-align: center;">
                            {% for message in messages %}
                                <div class="alert {{ message.tags }} alert-dismissible fade show mx-auto" style="position: fixed; bottom: 20px; left: 50%; transform: translateX(-50%); z-index: 1050;" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close btn-close-black" style="outline: none; box-shadow: none" data-bs-dismiss="alert" aria-label="Close">
                                    </button>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </main>
            </div>
        
        <!-- Footer -->
            <footer class="mt-auto">
                <p>&copy; 2024 Online Bookstore. All rights reserved.</p>
            </footer>
        
        </div>
        
        <!-- Bootstrap tables -->
        <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" 
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" 
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        -->
        

    </body>
</html>