{% extends '_base.html' %}

{% block title %}Shopping Cart{% endblock title %}

{% block content %}
    <h1>Shopping Cart</h1>
    <div class="container">
        {% for item in cartitems %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">{{ item.quantity }} x {{ item.product.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ item.product.author }}</h6>
                <p class="card-text">Description</p> <!-- Show only the first 100 characters of the description -->
                <a href="{% url 'book_details' item.product.id %}" class="btn btn-info">View Product</a>
                <form action="{% url 'deletefromcart' item.id %}" method="post">{% csrf_token %}
                    <button class="btn btn-danger" type="submit">Delete Product</button>
                </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}