{% extends '_base.html' %}

{% block title %}Shopping Cart{% endblock title %}

{% load humanize %}
{% load tag_library %}

{% block content %}
    <h1>Shopping Cart</h1>
    <div class="container">
        <span class="badge badge-pill badge-warning">{{ total|to_int|intcomma }} IRR</span>
        <form action="{% url 'gtgateway' %}" method="post">{% csrf_token %}
            <input type="hidden" name="product_id" value="{{ user.email }}" />
            <button class="badge badge-pill badge-warning" type="submit">Check-Out</button>
        </form>
        <div class="row">
            {% for item in cartitems %}
                <div class="col-mb-3">
                    <div class="card mb-3" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'book_details' item.product.id %}" class="card-link">{{ item.quantity }} x {{ item.product.title }}</a></h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ item.product.author }}</h6>
                            <p class="card-text"><code>{{ item.product.price|to_int|intcomma }} IRR</code></p> <!-- Show only the first 100 characters of the description -->
                            <form action="{% url 'editcart' item.id %}" method="post">{% csrf_token %}
                                <input type="number" name="product_quantity" value="{{ item.quantity }}" min="0" max="{{ item.product.stock }}" />
                                <button class="btn btn-primary" type="submit">Submit Changes</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}